nav{
    height: 100%;
    width: 100%;
    background: rgb(11, 134, 216);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.masuk{
    background-color:  rgb(87, 136, 213);
    color: black;
}
.daftar{
    background-color: rgb(87, 136, 213);
    color: black;
}
.gambar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.container{
   display: flex;
}
.btn btn-light{
    color: rgb(11, 134, 216);

}
   

